.sidemenu{
    background-color: #080A1F;
    /* width: 150px; */
    height: 100vh;

    /* position: absolute;
    top: 0px; */

    /* position: absolute; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    

    box-sizing: border-box;
    padding: 10px;
}
@media (max-width:571px){
    .sidemenu{
        display: none;
    }
}

.sport{
    color: white;
    box-sizing: border-box;
    padding: 10px;
    background-color: #0C2F3A;
    border-radius: 6px;
    height: 390px;

    
}
.opt{
    overflow-y: scroll;
    /* position: absolute; */
    display: flex;
    flex-direction: column;
}
.space{
    height: 40px;
    width: 100%;
    background-color: #0C2F3A;
}
::-webkit-scrollbar{
    width: 0px;
}
.close{ 
    float: right;
    background-color: #0C2F3A;
    font-weight: bold;
}
.sp h4{
    background-color: #0C2F3A;
}
.close{
   scale: 1.2;
}
.close:hover{
    scale: 1.3;
}
.menu{
    height: 20px;
    border-style: none;
    width: 30px;    
}
.menu button{
    border-radius: 5px;

}
@media (max-width:570px){
    .sport, .opt{
        position: absolute;
    }
    .sport{
        width: 130px;
        border: 2px solid black;
    }
}