
.maindiv{
    height: 50px;
    width: 80px;
    border: 1px solid black;
}
<<<<<<< HEAD


=======
h2{
    /* border: 5px solid red ; */
    
}
>>>>>>> ae95af2 (add user.controller nad user.model in backend)
