.f_div {
    /* border: 5px solid wheat; */
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-bottom: 10px solid white;
    /* border: 5px solid red; */
}
h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
}

.main2 {
    box-sizing: border-box;
    padding: 5%;
    text-align: center;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 570px;
    width: 60%;
    /* border: 5px solid pink; */
}

input {
    height: 34px;
    border-radius: 20px;
    text-align: center;
    font-family: monospace;
    border: none;
}

.image {
    position: relative;
    width: 40%;
    height: 100%;
    /* border: 5px solid forestgreen; */
   
}

.inner {
    padding: 30px;
    height: 300px;
    width: 240px;
    background-color: rgb(0, 0, 0);
    border-radius: 30px;
}
.sb_btn{
    width: 30%;
    margin-left:65% ;
}

form {
    display: flex;
    flex-direction: column;
}

.inp {
    margin: 20px;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    z-index: 0; /* Places the image behind the gradient */
}

.gradient {
    position: absolute;
    z-index: 1; /* Places the gradient on top of the image */
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to top, black, transparent); /* Gradient from black to transparent */
}
.quote {
    position: absolute; /* Allows the text to be positioned freely within the container */
    z-index: 2; /* Ensures the text is on top of both the image and the gradient */
    bottom: 30px; /* Position the text near the bottom of the image */
    left: 50%; /* Centers the text horizontally */
    transform: translateX(-50%); /* Adjusts the centering since left: 50% starts at the middle of the text */
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}
.icon_c
{
    display: flex;
    justify-content: center;
    margin-top: 7%;
    width: 100%;
}

.icon
{
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    border-radius: 50% ;
    height: 40px;
    width: 40px;
    margin: 20px;
}
.ic{
    height: 40px;
}

.sb_btn:hover
{
    background-color: aqua;
    /* height:203%; */
    transition: 0.5s;

}

@media only screen and (max-width: 1000px) {
    .image {
        display: none; /* Collapse the div on smaller screens */
    }
    .inner
    {
        width: 100%;
    }
    .main2
    {
        width: 320px;
    }
}