* {
    margin: 0;
    padding: 0;
}
/* Header.module.css */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #080A1F;
    color: white;
  }
  
  .logoContainer {
    display: flex;
    align-items: center;
  }
  
  .logo {
    height: 50px;
    margin-right: 10px;
  }
  
  .nav {
    display: flex;
    align-items: center;
  }
  
  .navLink {
    margin: 0 15px;
    text-decoration: none;
    color: white;
    font-size: 16px;
  }
  
  .login {
    padding: 8px 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 1.2em;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login:hover {
    background-color: #0056b3;
  }
  
  .userContainer {
    display: flex;
    align-items: center;
    background-color: #1d391a;
    padding: 5px 15px;
    border-radius: 25px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  .username {
    color: yellow; /* Username is now yellow */
    font-weight: 600;
    font-size: 18px;
    margin-right: 10px;
  }
  
  .logoutButton {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    color: rgb(254, 129, 129);
    cursor: pointer;
    font-size: 20px;
    padding: 5px 10px;
    margin-left: 10px;
  }
  
  .logoutButton:hover {
    color: rgb(255, 255, 255);
  }
  
  .logoutIcon {
    font-size: 30px; /* Increased icon size */
  }
  
  .logoutButton:hover .logoutText {
    display: inline;
  }
  
  /* Ensure mobile responsiveness */
  @media (max-width: 768px) {
    .navLink {
      margin: 0 10px;
      font-size: 14px;
    }
  
    .logoutButton {
      font-size: 18px;
    }
  }
  